<div class="container">
  <h1 class="title">TikTok Marketing Dashboard</h1>

  <div class="stats">
    <div class="stat-item">
      <h3>Tổng KOL/KOC</h3>
      <p>{{ totalKoc }}</p>
    </div>
    <div class="stat-item">
      <h3>Tổng Video</h3>
      <p>{{ totalVideos }}</p>
    </div>
    <div class="stat-item">
      <h3>Doanh thu (GMV)</h3>
      <p>{{ totalGMV }}</p>
    </div>
  </div>

  <div class="buttons">
    <button routerLink="/koc-list" class="btn">Xem Danh Sách KOC</button>
    <button routerLink="/video-list" class="btn">Xem Danh Sách Video</button>
    <button routerLink="/add-koc" class="btn">Thêm KOC</button>
  </div>
  <router-outlet></router-outlet>
</div>
